@use "common.scss" as common;

$card-shades: (
  "default": (
    "default-background": 50 50
  )
);

@mixin card-styles($status) {
  &.#{$status} {
    background-color: var(--card-#{$status}-default-background);
  }
}

@mixin layer {
  :root {
    @each $_, $value in $card-shades {
      @include common.color-palette("card", $value);
    }
  }

  .x-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--card-gap);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);

    @each $_, $_ in $card-shades {
      @each $status-name, $_ in common.$main-colors {
        @include card-styles($status-name);
      }
    }
  }
}
