<div class="demo">
  <h1>Text</h1>

  <div class="x-card default">
    <h1>
      H1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque nulla autem facilis
      doloribus sint, necessitatibus unde repellendus vitae nobis ipsam voluptate numquam quasi fugiat beatae
      voluptatem laborum doloremque non.
    </h1>
    <h2>
      H2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae esse, saepe dolorem aliquid quia nam
      veniam recusandae, optio ipsa, perspiciatis placeat molestias eveniet excepturi nisi omnis numquam
      voluptatibus dolor a.
    </h2>
    <h3>
      H3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, saepe, nemo quisquam quibusdam
      veniam aliquid nisi natus labore iure architecto odio omnis expedita, vitae harum! Aut non sit laborum
      iure.
    </h3>
    <h4>
      H4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quia voluptatum est vero
      suscipit, quas vitae labore distinctio harum saepe aliquam ex iure voluptate. Ea incidunt enim placeat
      pariatur laudantium.
    </h4>
    <h5>
      H5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae perferendis, repudiandae ratione
      quas inventore debitis eaque soluta totam quam earum velit rerum, blanditiis natus dolorum placeat
      voluptas eligendi exercitationem id?
    </h5>
    <h6>
      H6 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, pariatur itaque sint, libero
      voluptates cumque quis nisi cupiditate labore velit, eveniet eos alias illum nostrum dicta
      exercitationem nesciunt laudantium facere?
    </h6>

    <p>
      Paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem officiis laudantium.
      Harum distinctio dolorum ipsum placeat obcaecati corrupti magni maiores, tempora molestiae hic aliquam
      quibusdam et, minus reprehenderit amet!
    </p>
    <small
      >Small Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nulla doloremque quaerat
      quas illum nam numquam, eum voluptatibus aspernatur dolore quibusdam facilis quae, cupiditate ab
      repudiandae veritatis consequatur nisi! Rerum.</small
    >
    <label
      >Label Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum eum totam et quas error est
      laudantium dolorem explicabo iusto ab doloremque corrupti nobis laborum enim inventore, harum laboriosam
      omnis. Aliquam?</label
    >
  </div>
</div>
