<div class="demo">
  <h1>Card</h1>

  <div class="x-card default">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quo. Recusandae quas doloribus quo saepe
      enim placeat nisi similique non repellendus suscipit, fugiat harum iste nostrum voluptatibus sit iusto
      soluta!
    </p>
  </div>

  <div class="x-card accent">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloremque neque nesciunt voluptas quasi
      excepturi adipisci similique mollitia quibusdam, at eligendi suscipit? Architecto reiciendis pariatur,
      quibusdam ipsa beatae quae. Dolorum.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, tempora molestiae quis placeat eos
      blanditiis soluta sit voluptatem quo deserunt unde corporis assumenda natus delectus. Deserunt ab dicta
      ipsam rerum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur maxime quaerat, ipsa vitae impedit
      perferendis architecto inventore accusantium aperiam porro recusandae ex doloribus distinctio
      blanditiis. Suscipit, numquam! Fugiat, voluptate possimus?
    </p>
  </div>

  <div class="x-card success">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati earum quis et consequuntur deleniti
      iusto, voluptatibus esse, repellendus fugiat itaque blanditiis quae similique harum ab temporibus ad
      maxime facere nemo?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam dolore veniam cumque ab consequuntur
      doloremque delectus consequatur dolores tempora. Nisi harum molestiae nulla tempora nihil illo minima
      doloribus quos consequuntur.
    </p>

    <button class="x-button filled default success">Submit</button>
    <button class="x-button filled default danger">Submit</button>
    <button class="x-button filled default info">Submit</button>
  </div>

  <div class="x-card danger">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo nam nostrum cupiditate, quasi non ea
      aliquid quis, qui laudantium accusantium dolore porro beatae harum ratione sequi ad natus iste dolorem.
    </p>
  </div>

  <div class="x-card warning">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam sapiente, minus inventore temporibus
      neque cum et fugiat quia alias quod iusto nostrum repudiandae! Nisi eveniet ea, doloremque unde fugiat
      possimus.
    </p>
  </div>

  <div class="x-card info">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis assumenda cupiditate, cumque molestiae
      nobis libero laborum asperiores culpa necessitatibus ullam dolores at autem, possimus corporis dolore
      recusandae non, aut nemo.
    </p>
  </div>
</div>
